body{
    padding: 0;
    height: 100%;
}

.navigation .nav .row
{
    background-color: rgb(228, 220, 220);
    height: 60px;
    width: 100vw;
    display: flex;
    align-items: center;
    /* margin-bottom: 10px; */
    
}

.title
{
    margin-left: 100px;
}

.right-grid
{
    display: flex;
    align-items: flex-end;
}

#btn
{
    margin-right: 50px;
}
div .main-body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: rgb(255, 255, 255); */

    
    
}

div .main-body .row
{
    /* background-color: lawngreen; */
    width: 80vw;
    height: 80vh;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
}

div .main-body .row .left
{
    background: url(../../assets/calender.webp) no-repeat;
    background-size: cover;

}

div .main-body .row .right
{
    background-color: antiquewhite;
}

div .main-body .row .right mat-card
{
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    font-size: x-large;
    word-spacing: 8px;
}

.event-body
{
    /* background-color: blue; */
    display: flex;
    height: 70vh;
    width: 100%;
    justify-content: end;
    align-items: flex-end;
}