<div class="navigation">
    <nav class="nav">
        <div class="row">
            <div class="col-xs-12 col-6 col-sm-12 col-md-6 col-lg-6">
                <h3 class="title">WELCOME <span style="font-weight:bolder;font-style: italic;"> {{user | uppercase}}</span></h3>
            </div>
            <div class="right-grid col-6 justify-content-end">
                <button (click)="logout()" id="btn" mat-raised-button color="primary">Log out</button>
            </div>

        </div>
    </nav>
    <div class="main-body">
        <div class="row" style="float:left;">
            <div class="left col-lg-6 col-sm-12 col-md-6" ></div>
            <div class="right col-lg-6 col-sm-12 col-md-6" ><mat-card style="background-color: rgb(184, 200, 219);">{{ loginDate | date:'mediumDate'|uppercase   }}</mat-card>
                <div class="events"><h2 style="text-align: center; margin-top: 10px;">EVENTS</h2>
                    <div class="event-body">
                        <div class="event-cards" >
                            <ul *ngFor="let e of events">
                                <li><mat-card style="height: 40px;font-style:italic;font-size: medium;">{{e.event}}</mat-card></li>
                            </ul>
                            <!-- <mat-card style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">{{e.events}}</mat-card> -->
                            <!-- <mat-card style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">this is a card</mat-card> -->

                        </div>
                        <div style="display: flex; justify-content: flex-end;">
                            <button (click)="addEvent()" mat-raised-button color="primary" class="btns" style=" margin-bottom: 20px;margin-right: 10px;">ADD EVENT</button>
                            <button (click)="viewEvent()" mat-raised-button color="primary" class="btns" style="margin-bottom: 20px;">VIEW EVENT</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>