<div class="navigation">
    <nav class="nav">
        <div class="row">
            <div class="col-6">
                <h3 class="title">Welcome {{user | uppercase}}</h3>
            </div>
            <div class="right-grid col-6 justify-content-end">
                <button (click)="logout()" id="btn" mat-raised-button color="primary">Log out</button>
            </div>

        </div>
    </nav>
    <div class="main-body">
        <div class="row" style="float:left;">
            <div class="left col-6"></div>
            <div class="right col-6"><mat-card>{{ loginDate | date:'mediumDate'|uppercase   }}</mat-card>
                <div class="events"><h2 style="text-align: center; margin-top: 10px;">EVENTS</h2>
                    <div class="event-body">
                        <button (click)="addEvent()" mat-raised-button color="primary" style="margin-bottom: 20px;margin-right: 10px;">ADD EVENT</button>
                        <button (click)="viewEvent()" mat-raised-button color="primary" style="margin-bottom: 20px;">VIEW EVENT</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>