body{
    padding: 0;
    height: 100%;
}

.navigation .nav .row
{
    background-color: rgb(228, 220, 220);
    height: 60px;
    width: 100vw;
    display: flex;
    align-items: center;
    /* margin-bottom: 10px; */
    
}

.title
{
    margin-left: 100px;
}

.right-grid
{
    display: flex;
    align-items: flex-end;
}

#btn
{
    margin-right: 50px;
}
div .main-body
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* background-color: rgb(255, 255, 255); */

    
    
}

div .main-body .row
{
    /* background-color: lawngreen; */
    width: 80vw;
    height: 100%;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
}

div .main-body .row .left
{
    background: url(../../assets/calender.webp) no-repeat;
    background-size: cover;

}


div .main-body .row .right
{
    background-color: antiquewhite;
}

div .main-body .row .right mat-card
{
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    font-size: x-large;
    word-spacing: 8px;
}

.event-body
{
    /* background-color: blue; */
    /* display: flex; */
    height: 70vh;
    width: 100%;
    /* justify-content: end;
    align-items: flex-end; */
}

.event-cards
{
    height: 64vh;
    /* width: 100%; */
    /* background-color: brown; */
    padding-right: 30px;
}

.event-cards ul
{
    list-style: none;
}

.event-body .btns
{
    /* position: relative; */
    /* margin-top: 100%; */
    

}

.event-cards mat-card:hover
{
    transition: all 0.2s ease-out;
    transform: translateY(-5px) scale(1.005) translateZ(0);
    /* cursor: pointer; */
    /* margin-left: 100px; */
    
}